.hero {
    display: flex;
    flex-direction: column;
    margin: 0 0 64px 0;
    align-items: center;

    @media #{$xl} {
        flex-direction: row;
        margin: 0 0 222px 0;
        align-items: stretch;
    }

    &__text_section {
        display: flex;
        flex-direction: column;
        width: 327px;
        @media #{$xl}{
            width: 443px;
            margin-right: 18.02px;
            order: 1;
        }
        background: lightseagreen;
    }

    &__header {
        width: 100%;
        height: 116px;
        background: lightsalmon;
        margin: 0 0 16px 0;

        font-family: Rozha One;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        
        @media #{$xl} {
            height: 188px;
            font-size: 80px;
            line-height: 94px;
        }

        white-space: pre-wrap;

        position: relative;
    }

    &__ellipse {
        position: absolute;
        width: 27px;
        height: 20px;
        left: 176px;
        top: 23px;

        @media #{$xl} {
            height: 32px;
            width: 43px;
            left: 280px;
            top: 40px;
        }

        background: url('../../assets/HeroEllipse.svg');
        background-size: cover;
    }

    &__paragraph {
        width: 100%;
        height: 90px;
        margin: 0 0 30px 0;
        
        background: lightsalmon;
        
        font-family: Reem Kufi;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        
        @media #{$xl} {
            height: 108px;
            margin: 0 0 32px 0;
            font-size: 24px;
            line-height: 36px;
        }       
    }

    &__button {
        width: 327px;
        height: 62px;
        @media #{$xl} {
            width: 255px;
            height: 70px;
        }  
        background: #FABD20;
        border-radius: 8px;
        margin: 0;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button_text {
        font-family: Reem Kufi;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;    
        
        @media #{$xl} {
            font-size: 25px;
            line-height: 38px;
        } 
    }

    &__image {
        height: 175px;
        width: 293.8886413574219px;
        margin: 0 0 42px 0;
        @media #{$xl} {
            width: 645.98px;
            height: 385px;
            order: 2;
            margin: 49px 0 0 0;
        }      
        background: url('../../assets/Hero.svg');
        background-size: cover;
    }
}