.numbers {
    background: lightseagreen;
    display: flex;
    flex-direction: column;
    gap: 87px;

    @media #{$xl}{
        width: 1005px;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    &__square {
        height: 172px;
        @media #{$xl}{
            height: 182px;           
        }
        background: lightsalmon;
        display: flex;
        flex-direction: column;
        align-items: center;

        white-space: pre-line;

        &:nth-child(2){
            white-space: normal;
        }
    }

    &__first-text {
        font-family: Rozha One;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 94px;
        letter-spacing: 0em;
        text-align: left;
        
        color: #FABD20;

        margin: 0 0 6px 0;
        @media #{$xl}{
            margin: 0 0 16px 0;
        } 
    }

    &__second-text {
        font-family: Reem Kufi;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        
        margin: 0;

        @media #{$xl}{
            font-size: 20px;
            line-height: 30px;
        } 
    }
}