.numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;

    @media #{$xl}{
        width: 1005px;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }

    &__square {
        @media #{$xl}{
            height: 182px;           
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        white-space: pre-line;

        &:nth-child(1){
            margin-bottom: 108px;
            @media #{$xl} {
                margin-bottom: 0;
            }
        }

        &:nth-child(2){
            white-space: normal;
            margin-bottom: 87px;
            @media #{$xl} {
                margin-bottom: 0;
                white-space: pre-line;
            }
        }
    }

    &__first-text {
        font-family: Rozha One;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 94px;
        letter-spacing: 0em;
        text-align: left;
        
        color: #FABD20;

        margin: 0 0 6px 0;
        @media #{$xl}{
            margin: 0 0 16px 0;
        } 
    }

    &__second-text {
        text-align: center;
        color: #131E07;
        margin: 0;
        
        @media #{$xl}{
            font-size: 24px;
            line-height: 36px;
        } 
    }
}