.section2 {
    width: 375px;
    height: 497px;
    @media #{$xl} {
        width: 1440px;
        height: 811px;
    }  

    background: #FABD20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 

    position: relative;
  
    &__header {
        font-feature-settings: 'haln' on;
        margin: 64px 0 37px 0;
        width: 307px;

        @media #{$xl} {
            width: 839px;
            margin: 64px 0 40px 0;
            text-align: center;
        }
    }

    &__paragraph {     
        margin: 0 0 162px 0;
        width: 307px;

        @media #{$xl} {
            width: 371px;
            margin: 0 0 447px 0;
            text-align: center;
        }
    }

    &__video-rectangle {
        position: absolute;

        width: 327px;
        height: 160px;
        left: 24px;
        top: 410px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        background: url('../../assets/woman_light.jpg');
        
        @media #{$xl} {
            width: 1240px;
            height: 603px;
            left: 100px;
            top: 420px;
            background: url('../../assets/woman_hd.jpg');
        }
    }

    &__play-button {
        display: block;
        width: 78px;
        height: 78px;
        @media #{$xl} {
            width: 130px;
            height: 130px;
        }
        background: url('../../assets/Play.svg');
        background-size: contain;
    }
}